<div class="layout-topbar">
    <a class="layout-topbar-logo " routerLink="">
        <!--img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"-->
        <img src="images/logotipo.png" alt="">
        <img src="images/nombre-marca.png" alt="">

    </a>

    <!--button-- #menubutton class="p-link layout-menu-button layout-topbar-button " (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </!--button-->
    <p-button  #menubutton [text]="true" (click)="layoutService.onMenuToggle()"
     icon="pi pi-bars" [rounded]="true" class="mr-4" severity="contrast"  />


    <div class="ml-5">
      <p-iconfield class="">
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
    </p-iconfield>
    </div>

  <p-button class="w-full" icon="pi pi-barcode" [rounded]="true" [text]="true" severity="contrast" />
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <p-button class="w-full" icon="pi pi-bell" [rounded]="true" [text]="true" severity="contrast" />
    </div>
</div>
