<div class="layout-topbar">
  <p-toast></p-toast>
    <a class="layout-topbar-logo " routerLink="">
        <!--img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"-->
        <!--img src="images/logotipo.png" alt="">
        <img src="images/nombre-marca.png" alt="" -->
        <img src="images/nuevo_logo.jpg" alt="" class="w-5rem h-5rem">

    </a>

    <!--button-- #menubutton class="p-link layout-menu-button layout-topbar-button " (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </!--button-->
    <p-button  #menubutton [text]="true" (click)="layoutService.onMenuToggle()"
     icon="pi pi-bars" [rounded]="true" class="mr-4 " severity="contrast"  />


    <div class="ml-5">
      <p-iconfield class="">
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" [(ngModel)]="filterProductId" (ngModelChange)="onFilterProductIdChange($event)" />
    </p-iconfield>
    </div>

  <p-button class="w-full" icon="pi pi-barcode" [rounded]="true" [text]="true" severity="contrast"  (click)="toggleScanner()" />

  <div *ngIf="scannerVisible">
    <zxing-scanner
    [formats]="allowedFormats"
    (scanSuccess)="onCodeScanned($event)" >
  </zxing-scanner>
  </div>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      <!--p-button class="w-full" label="LOGOUT" [rounded]="true" [text]="true" severity="contrast" /-->
      <p-button label="LOGOUT" variant="text" [raised]="true" severity="danger" (click)="confirmLogout()" />
        <p-button class="w-full ml-2" icon="pi pi-bell" [rounded]="true" [text]="true" severity="contrast" />
    </div>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
